<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Finder</title>
</head>
<body>
    <h1>GITHUB API</h1>
    <form method='POST'>
        <input type="text" name='username'>
        {% csrf_token %}
        <input type="submit" name='button' value='Get GitHub Info'>
    </form>
    {% if user %}
 <p> Username: {{user.login}} </p>
  <p> URL: {{user.html_url}}</p>
  <p> Repos: {{user.public_repos}}</p>
  <p>  <img src="{{user.avatar_url}}"  width="80" height="80"  /></p>
    {% endif %}
</body>
</html>
